@media screen {
    [hidden],
    .hidden {
        display: none;
    }

    .newsletter-block .error,
    .contact-us-block .error {
        color: red;
    }
    .newsletter-block .field.required .field-meta::after,
    .contact-us-block .field.required .field-meta::after {
        content: "*";
        color: red;
    }
    .popup-header {
        display: flex;
        justify-content: flex-end;
    }
    .popup-header-close-button {
        margin: 12px;
        padding: 12px;
    }
}
